@page "/person/create"
<PageTitle>Create Person</PageTitle>
@attribute [Authorize]
@inherits CreatePersonComponentModel

<Toasts class="p-3" Messages="messages" AutoHide="true" Delay="6000" Placement="ToastsPlacement.TopRight" />
	<div class="container mt-4 bg-light rounded-3 shadow-lg border border-2 p-3 w-50">
        <div class="row">
            <div class="col-4 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg" />
                    <div>
                        <span class="font-weight-bold">
                            @Result.FirstName
                        </span>
                        <span class="font-weight-bold ms-1">
                            @Result.LastName
                        </span>
                    </div>
                    <span class="text-black-50">
                        @Result.Email
                    </span>
                </div>
            </div>
            <div class="col-8 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile Settings</h4>
                    </div>
                    <EditForm Model="Result" OnValidSubmit="ValidSubmit" >
                        <DataAnnotationsValidator />
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <label class="labels">Name:</label><InputText @bind-Value="Result.FirstName" placeholder="first name" />
                                <ValidationMessage For="@(() => Result.FirstName)" />
                            </div>
                            <div class="col-md-6">
                                <label class="labels">Surname:</label><InputText @bind-Value="Result.LastName" placeholder="surname" />
                                <ValidationMessage For="@(() => Result.LastName)" />
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12 mb-3">
                                <label class="labels me-2">Mobile Number:</label><InputText @bind-Value="Result.Phone" placeholder="enter phone number" />
                                <ValidationMessage For="@(() => Result.Phone)" />
                            </div>
                            <div class="col-md-12 mb-3" >
                                <label class="labels me-2">Email:</label><InputText @bind-Value="Result.Email" placeholder="enter email" />
                                <ValidationMessage For="@(() => Result.Email)" />
                            </div>
                            <div class="col-md-12 d-flex mb-3 align-items-center"><label class="labels me-2">Date of birth:</label><DateInput TValue="DateTime" @bind-Value="Result.DateOfBirth" placeholder="enter date" style="width:200px;" /></div>
                            <div class="col-md-12 mb-3">
                                <label class="labels me-2">Gender:</label>
                                <InputRadioGroup @bind-Value="Result.Gender">
                                    @foreach(var item in Result.Genders)
                                    {
                                        <InputRadio Value="@item" />
                                        <span class="labels me-2">@item</span>
                                    }
                                </InputRadioGroup>
                            </div>
                            <div class="col-md-12 d-flex align-items-center mb-3">
                                <label class="labels me-2">Country:</label>
                                <InputSelect @bind-Value="Result.CountryId" class="dropdown dropdown-toggle btn btn-secondary btn-sm">
                                    <option value="" selected="selected">None</option>
                                    @foreach(var item in Result.Countries)
                                    {
                                            if (item.Id == Result.CountryId)
                                            {
                                                <option value="@item.Id" selected="selected">@item.Name</option>
                                            }
                                            else
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                    }
                                </InputSelect>
                            </div>
                            <div class="col-md-12">
                                <label class="labels">Address:</label>
                                <InputTextArea @bind-Value="Result.Address" placeholder="enter your address" style="width: 100%"></InputTextArea>
                            </div>
                        </div>
                        <div class="mt-5 text-center">
                            <Button Color="ButtonColor.Primary" Type="ButtonType.Submit">Save Profile</Button>
                        </div>
                        <ValidationSummary />
                    </EditForm>
                </div>
            </div>
        </div>
    </div>

