@page "/people"
<PageTitle>People</PageTitle>
@attribute [Authorize]
@inherits PeopleComponentModel

<form @onsubmit="ReloadData" method="get">
    <div class="container-xxl mt-4 bg-light rounded-3 shadow-lg border border-2 p-3">
        <div class="d-flex mt-3 mb-4 gap-1 justify-content-end">
            <select class="dropdown dropdown-toggle" @bind="SelectedSearchBy" style="width:150px;">
                @foreach(var item in SearchFields)
                {
                    if(item.Key == SelectedSearchBy)
                    {
                        <option value="@item.Key" selected="selected">@item.Value</option>
                    }
                    else
                    {
                        <option value="@item.Key">@item.Value</option>
                    }
                }
            </select>
            <input class="form-control me-1" id="Search" type="search" placeholder="Search" style="width:250px;" @bind-value="SearchText"/>
            <button class="btn btn-primary " type="submit">Search</button>
            <Button Color="ButtonColor.Secondary" Outline="true" class="ms-1" @onclick="Clear">Clear</Button>
        </div>
            
        <table class="table w-75 ms-auto me-auto">
            <thead>
                <tr>
                    <th style="width:5%"></th>
                    <th style="width:15%">
                        Name
                    </th>
                    <th style="width:15%">
                        Surname
                    </th>
                    <th style="width:25%">
                        Email
                    </th>
                    <th>Options</th>
                </tr>
            </thead>

            <tbody>
                @foreach(var person in Result.Items)
                {
                    <tr>
                        <td>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="feature-icon-person">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
                            </svg>
                        </td>
                        <td>@person.FirstName</td>
                        <td>@person.LastName</td>
                        <td>@person.Email</td>
                        <td>
                            <BlazorClient.Components.PersonDetailComponent PersonId="@person.Id"/>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <Pagination ActivePageNumber="@IndexPage" 
            TotalPages="Result.TotalPages"
            PageChanged="OnPageChangedAsync" 
            Alignment="Alignment.Center"/>

    </div>
</form>

